{
    "extends": "standard",
    "rules": {
        "no-multi-spaces": [ 
            "error", { 
                "exceptions": {
                    "Property": true, 
                    "VariableDeclarator": true,
                    "ImportDeclaration":  true
                } 
            }
        ],
        "key-spacing": [ 
            "error", { 
                "align": {
                    "beforeColon": false,
                    "afterColon":  true,
                    "on": "value"
                },
                "mode": "minimum"
            }
        ],
        "brace-style": ["error", "stroustrup"],
        "no-eval": ["error", {
            "allowIndirect": true
        }],
        "semi": ["error", "always"]
    },
    "env": {
        "node": true,
        "mocha": true
    }
}